.navbar>.container .navbar-brand,
.fa1, .fa2, .fa3, .fa4, .fa5, .fa6,
.progress-skills  .panel-default > .panel-heading,
.progress-skills  .panel-default > .panel-heading a.collapsed,
.progress-skills  .panel-default > .panel-heading a:after,
.support ul li:hover,
.before-footer span:hover,
.footer ul li a:hover,
.spinner,
#scroll-top

{
    color:#1ce038;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu .divider,
.optionbox .gear-check,
.carousel-indicators .active,
.cube1, .cube2,
.fa1:hover, .fa2:hover, .fa3:hover, .fa4:hover, .fa5:hover, .fa6:hover
{
    background-color: #1ce038;
}

.navbar-nav > li > .dropdown-menu,
.optionbox .coloroption,
.optionbox .coloroption
{
     border:2px solid #1ce038;
}

.fa1:hover, .fa2:hover, .fa3:hover, .fa4:hover, .fa5:hover, .fa6:hover
{
     border: 5px solid #1ce038;
}
.before-footer
{
   
     border-top: 5px solid #1ce038;
}
